torch
torchvision
numpy
albumentations
opencv-python
pudb
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
setuptools
pillow
einops
torch-fidelity
transformers
torchmetrics
kornia
taming-transformers
ipython
